body{
  max-width: 100vw;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: rgba(7, 1, 1, 0.892);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header
{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-shadow: 0px 10px 50px rgb(255, 255, 173);
}
.input
{
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  height:3em;
  border:1px solid black;
}

.calculator_container
{
  display:flex;
  flex-direction: column;
  background-color: rgba(17, 50, 50, 0.924);
  border: 2px solid wheat;
  min-width: 320px;
  min-height: 350px;
  max-height: 100vh;
  max-width: 100vw;
  margin-top: 10px;
  box-shadow: 0px 10px 20px rgba(245, 222, 179, 0.828);
  padding: 10px;
}

.operator
{
  background-color: rgb(212, 212, 255);
  border-radius: 20px;
  border:1px solid rgb(11, 7, 7);
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
}
.operators
{
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: bolder;
  font-size: larger;
  width:50px;
  text-align: center;
  height: 30px;
  margin-top: 5px;
}
.number_container
{
  border: 1px solid rgb(224, 206, 206);
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3,35px);
  grid-template-rows:repeat(3,50px);
  justify-content: space-evenly;
  gap:30px;
  padding: 10px;
}
.numbers
{
  width:35px;
  height:35px;
  border-radius: 100%;
  text-align: center;
  background-color:white;
  color: black;
  font-weight: bolder;
  font-size: larger;
  box-shadow: 0px 5px 30px rgba(234, 160, 160, 0.624);
}
.numbers_0
{
  grid-column: 1 / span 3; 
  justify-self: center ;
  width:35px;
  height:35px;
  border-radius: 100%;
  text-align: center;
  background-color: azure;
  color: black;
  font-weight: bolder;
  font-size: larger;

}
.todo
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgba(255, 255, 172, 0.785);
  color: black;
  height: 30px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
}
.todos
{
  border-radius: 100px;
  height: 30px;
  width:50px;
  font-weight: bolder;
  background-color:rgb(12, 6, 63);
  margin:10px;
  color: white;
  font-size: larger ;
}